
.calculator{
  border: 3px solid black;
  width: 30%;
  margin: 10px;
}

.result {
  border: 1px solid black;
  height: 60px;
  width: 95%;
  margin-top :10px;
  margin-bottom: 10px;
  margin-left: 10px;
}

.result p {
  font-size: 25px;
}

.App {
  text-align: center;
}

.button {
  display: block;
}

button {
  width: 25%;
  height: 40px;
  font-size: 18px;
}
.equals{
  width: 50%;
}

.zero{
  width: 50%;
}